@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3317e9;
  --orange: #FC6D1C;
  --white: #fff;
  font-size: 16px;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 1000px;
  height: 100%;
}

/* Start header ---------------------------------------------------------------- */

html.modal__open {
  overflow: hidden;
}

.header {
  width: 100%;
  height: 80px;
  background: var(--orange);
  color: var(--white);
  display: flex;
  justify-content: right;
  align-items: center;
}

.menu__list {
  display: flex;
}

li {
  list-style: none;
  margin-right: 30px;
  cursor: default;
  font-size: 0.8rem;
  line-height: 4;
  height: 50px;
}

.filter__btn {
  position: relative;
  background-color: transparent;
  color: var(--white);
  margin-right: 550px;
  font-size: 1.05rem;
}

.filter__btn .arrow {
  left: 52px;
  top: 20px;
}

.transaction__btn {
  position: relative;
  background-color: transparent;
  color: var(--white);
  margin-right: 100px;
  font-size: 1.1rem;
}

.arrow {
  position: absolute;
  top: 21px;
  left: 150px;
  width: 0;
  height: 0;
  border-top: 9px solid var(--white);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  transition: transform 0.3s ease;
}

.arrow.active {
  transform: rotate(-180deg);
}

.modal, .logout {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 1000px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal__content {
  background-color: var(--white);
  margin: 7% auto;
  padding: 20px;
  border-radius: 7px;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

#form__signup,
#form__login, 
.form__logout {
  text-align: center;
}

.input {
  width: 350px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid;
}

form span {
  font-size: 0.7rem;
  color: var(--orange);
  display: flex;
  padding-left: 60px;
  margin-bottom: 15px;
  padding-top: 3px;
}

.submit__btn,
.yes__btn,
.no__btn {
  margin-bottom: 15px;
  margin-top: 15px;
  width: 90px;
  height: 30px;
  background: var(--blue);
  color: var(--white);
  border-radius: 5px;
  border: none;
}

.transaction__block {
  width: 180px;
  display: none;
  position: absolute;
  top: 0;
  transform: translate(85px, 50px);
  background-color: var(--white);
  border-radius: 0 0 7px 7px;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.filter__block {
  width: 140px;
  display: none;
  position: absolute;
  top: 0;
  transform: translate(325px, 50px);
  background-color: var(--white);
  border-radius: 0 0 7px 7px;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.menu__trans {
  padding-bottom: 8px;
  font-size: 0.85rem;
}

#amount, #description,
#category__expenses,
#category__income,
#category__expenses__filter,
#category__income__filter,
#date, #date__end,
#date__start {
  width: 100%;
}

.menu__trans input, select {
  display: flex;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px;
  margin-top: 4px;
  font-size: 0.85rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add__btn, .ok__btn {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 70px;
  height: 23px;
  background: var(--blue);
  color: var(--white);
  border-radius: 4px;
  border: none;
}

#category__expenses, #category__expenses__filter {
  display: block;
}

#category__income, #category__income__filter {
  display: none;
}

a {
  color: inherit;
  font-size: 0.8em;
  color: var(--orange);
}

/* End header ------------------------------------------------------------------ */

/* Start body ------------------------------------------------------------------ */

main {
  background-color: var(--blue);
  width: 100%;
  height: 86%;
}

#body__container {
  height: 100%;
  margin: 0 auto;
}

h1 {
  color: var(--white);
  text-align: center;
  padding-top: 30px;
}

.text__body {
  color: var(--white);
  text-align: center;
  margin: 15px 0;
  padding: 0 50px;
  font-size: 1.1rem;
}

.table__container {
  overflow: auto;
  height: 60%;
}

.table__body {
  width: 720px;
  color: var(--white);
  border-collapse: collapse;
  margin: 10px auto;
  font-size: 0.9rem;
}

td {
  overflow: hidden;
  border-bottom: 1px solid var(--white);
  padding: 4px;
  text-align: left;
  max-width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  word-wrap: break-word;
}

td:hover {
  overflow: visible;
  white-space: normal;
  text-overflow: unset;
}

.btn__delete {
  background-color: transparent;
  color: var(--orange);
  font-weight: bold;
  text-decoration: underline;
}

img {
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 58%;
  height: 67%;
  border-radius: 8px;
  object-fit: contain;
}

footer {
  width: 100%;
  height: 40px;
  background: var(--orange);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}